<%- include('includes/header') %>
    <%- include('includes/navbar') %>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-6">
                    <div class="card bg-light">
                        <div class="card-header">
                            <h5 class="card-title">Register Moter</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Register New Moters Here ...</h6>
                        </div>
                        <div class="card-body p-3">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-sm-12 col-ms-6 col-lg-3">
                                    <% if (errors !== '' && errors != null) { %>
                                        <% errors.forEach( (item) => { %>
                                            <div class="alert alert-danger">
                                                <%- item %>
                                            </div>
                                            <% }) %>
                                                <% } %>
                                                    <% if (success !== '' && errors != null) { %>
                                                        <div class="alert alert-success">
                                                            <%= success %>
                                                        </div>
                                                        <% } %>

                                </div>
                            </div>

                            <form action="/register-moter" method="POST">
                                <div class="row g-3 align-items-center mb-3">
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="company" class="col-form-label">Company</label>
                                            <input type="text" name="company" id="company" class="form-control" placeholder="Enter Company Here ...">
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="model" class="col-form-label">Model</label>
                                            <input type="text" name="model" id="model" class="form-control" placeholder="Enter Model Here ...">
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="hp" class="col-form-label">HP</label>
                                            <input type="text" name="hp" id="hp" class="form-control" placeholder="Enter HP Here ...">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="rpm" class="col-form-label">RPM</label>
                                            <input type="text" name="rpm" id="rpm" class="form-control" placeholder="Enter RPM Here ...">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="kilovolt" class="col-form-label">Kilo Volt</label>
                                            <input type="text" name="kilovolt" id="kilovolt" class="form-control" placeholder="Enter Kilo Volt Here ...">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="current_consumption" class="col-form-label">Current Consumption</label>
                                            <input type="text" name="current_consumption" id="current_consumption" class="form-control" placeholder="Enter Current Consumption Here ...">
                                        </div>
                                    </div>

                                </div>
                        </div>
                        <div class="card-footer">
                            <div class="row g-3 align-items-center">
                                <div class="col-sm-12 col-ms-12 col-lg-12 text-right">
                                    <input type="submit" id="submit" class="btn btn-outline-secondary " name="Form" value="Register">
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <%- include('includes/footer') %>